<% if book.errors.any? %>

  <h2><%= book.errors.count %> error prohibited this book from being saved:</h2>

    <ul>
      	<% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      	<% end %>
    </ul>
<% end %>